# Dependency folders
node_modules/

# Build output
dist/

# Firebase system files
.firebase/

# Hide the Firebase config file entirely
src/firebase.js

# Environment variables
.envgit rm --cached src/firebase.js